body{
    margin:0;
     overflow-x: hidden;
     font-family: sans-serif;
  }
  .nav {
    position: fixed;
    top: 0;
    display:flex;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align:right;
    z-index: 1000; /* Ensure the navbar is on top of other content */
    height:50px;
    justify-content: space-between;
  }
  .logo{
    display: flex;
  }
  .logo img{
    width:80px;
    height:50px;
  }
  .logo h4:hover{
    color:rgb(207, 154, 7);
    
  }
  /* Style for the navigation links */
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
   
  }
  
  /* Style for the navigation links on hover */
  .navbar a:hover {
   
    color:rgb(207, 154, 7);
    transition: 0.3s; /* Add a smooth transition effect */
  }
  
  /* Add some space below the fixed navigation bar */
  body {
    margin-top: 50px;
    padding: 0;
  }