 html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
} 

img {
    border: 0;
    vertical-align: middle;

}

p{
    color: rgb(223, 223, 57);
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
} 

h1 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
} 


@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}


.col-md-4,
.col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
@media (min-width:768px) {

    .col-sm-6 {
        float: left
    }
    .col-sm-6 {
        width: 50%
    }
}

@media (min-width:992px) {

    .col-md-4 {
        float: left
    }
    .col-md-4 {
        width: 33.33333333%
    }
}